{% extends 'emails/base_email.html' %}
{% load i18n %}

{% block content %}
<div style="
    padding: 24px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #333333;
    line-height: 1.6;
">
  <p style="
      font-size: 22px;
      font-weight: bold;
      margin: 0 0 20px;
  ">
    {% trans 'Hi' %}, <i>{{ user.username }}</i>!
  </p>
  <p style="margin: 0; font-size: 18px;">
    {% trans "We're excited to have you on board" %}.
  </p>
</div>
{% endblock %}