{% load static %}

<div class="comment-item d-flex mb-4">
	<div class="text-nowrap me-3 small  align-content-center">{{ comment.created_time }}</div>
	<div class="bg-light border border-success-subtle rounded p-2 w-100 shadow-sm position-relative">
		<div class="comment-view">
			<div class="fw-semibold text-success mb-1">{{ comment.task.user.username }}</div>
			<div class="text-body">
				<p class="mb-0">{{ comment.text }}</p>
			</div>
		</div>

		<form action="{% url 'schedule:edit_comment' %}" method="post"
		      class="comment-edit-form d-none">
			{% csrf_token %}
			<input type="hidden" name="comment_id" value="{{ comment.id }}">
			<div class="fw-semibold text-success mb-1">{{ comment.task.user.username }}</div>
			<div class="form_errors">
			</div>
			<div class="d-flex align-items-center">
				<input type="text"
				       name="text"
				       class="form-control form-control-sm me-2"
				       value="{{ comment.text }}">

				<div class="d-flex flex-row gap-2 ms-2">
					<button type="submit"
					        class="btn btn-sm btn-outline-success p-1"
					        title="Save">
						<img src="{% static 'deps/icons/check-square.svg' %}"
						     alt="Save" width="20" height="20">
					</button>
					<button type="button"
					        class="btn btn-sm btn-outline-secondary p-1 cancel-edit-btn"
					        title="Cancel">
						<img src="{% static 'deps/icons/x-square.svg' %}"
						     alt="Cancel" width="20" height="20">
					</button>
				</div>
			</div>
		</form>
	</div>

	<div class="d-flex flex-column gap-2 ms-2">
		<form action="{% url 'schedule:del_comment' %}" method="post" class="delete-comment-form">
			<button type="submit" class="btn btn-sm btn-outline-secondary" title="Delete Comment">
				{% csrf_token %}
				<img src="{% static 'deps/icons/trash3.svg' %}" alt="Trash" width="16" height="18">
				<input type="hidden" name="comment_id" value="{{ comment.id }}">
			</button>
		</form>


		<button type="button" class="btn btn-sm btn-outline-secondary edit-btn" title="Edit Comment">
			<img src="{% static 'deps/icons/pencil-fill.svg' %}" alt="Edit" width="16" height="18">
			<input type="hidden" name="comment_id" value="{{ comment.id }}">
		</button>
	</div>
</div>

