<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	<div class="ms-auto">
		<button class="btn btn-success text-dark fw-bold" type="button" data-bs-toggle="modal"
		        data-bs-target="#staticBackdrop">
			+
		</button>
	</div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content shadow-lg" style="background-color: #f8f9fa; border-radius: 10px;">
			<div class="modal-header bg-success text-white rounded-top">
				<h5 class="modal-title" id="staticBackdropLabel">New Task</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
				        aria-label="Close"></button>
			</div>
			<form id="task-add-form" action="{% url 'schedule:add_task' %}" method="post">
				<div class="form_errors">
				</div>
				{% csrf_token %}

				{{ form.as_p }}

				<div class="modal-body">
					<div class="mb-3">
						<label for="id_date" class="form-label">Select a date:</label>
						<input type="date" class="form-control" id="id_date" name="date">
					</div>
					<div class="mb-3">
						<label for="id_time" class="form-label">Select a time:</label>
						<input type="time" class="form-control" id="id_time" name="time">
					</div>
					<div class="mb-3">
						<label for="id_name" class="form-label">Write your task:</label>
						<input type="text" class="form-control" id="id_name" name="name">
					</div>
					<div class="mb-3">
						<label for="id_description" class="form-label">Write description:</label>
						<textarea type="text" class="form-control" id="id_description"
						          name="description"></textarea>
					</div>

				</div>


				<div class="modal-footer bg-light border-top">
					<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-success">
						Save
					</button>

				</div>
			</form>
		</div>
	</div>
</div>