{% extends 'base.html' %}
{% load static %}


{% block css %}
	<link href="{% static 'deps/css/analysis.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
		<div class="fs-3 fw-bold text-center text-success bg-light mb-3 shadow-sm p-3 rounded shadow">
			Your analysis
		</div>
		{% include 'analysis/includes/analysis_accordion.html' with container_id="day-analysis-container" section_id="day-analysis" accordion_id="accordionDaySummaries" title="Day Analysis" prefix="day" reports=day_reports week_mode=False %}
		{% include 'analysis/includes/analysis_accordion.html' with container_id="week-analysis-container" section_id="week-analysis" accordion_id="accordionWeekSummaries" title="Week Analysis" prefix="week" reports=week_reports week_mode=True %}

	{% else %}
		<div class="container">
			<div class="alert bg-white border border-success text-success shadow-sm rounded p-4 d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between gap-3 p-3">
				<div class="d-flex align-items-start gap-3 p-2">
					<img src="/static/deps/icons/robot.svg" alt="AI Icon" width="32" height="32">
					<div>
						<h5 class="mb-1 fw-bold">ScheduleManager Analysis</h5>
						<p class="mb-0">To receive intelligent insights and analysis of your completed tasks, please log
							in to your account.</p>
					</div>
				</div>
				<a href="{% url 'users:login' %}" class="btn btn-success mt-3 mt-md-0">Log in</a>
			</div>
		</div>

	{% endif %}
{% endblock %}
{% block additional_content %}
	<div id="summaryDetails" class="bg-light rounded shadow-sm p-4 d-none me-lg-5">
	</div>
{% endblock %}
{% block js %}
	<script src="{% static "deps/js/analysis.js" %}"></script>
	<script src="{% static "deps/js/jquery/analysis_jquery.js" %}"></script>
{% endblock %}