{% extends 'base.html' %}
{% load static %}
{% load analysis_tags %}
{% block css %}
	<link href="{% static 'deps/css/analysis.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}

	<div class="fs-3 fw-bold text-center text-success bg-light mb-3 shadow-sm p-3 rounded shadow">
		Your analysis
	</div>
	<div id="day-analysis-container">
		<h4 class="accordion-toggle d-flex justify-content-between align-items-center bg-light text-success p-3 rounded shadow-sm border border-secondary border-opacity-25"
		    data-target="#day_analysis" role="button">
			Day Analysis
			<img src="{% static 'deps/icons/chevron-down.svg' %}" class="toggle-icon">
		</h4>

		<div id="day_analysis" class="accordion-section mb-3">
			<div class="accordion analysis-summary"
			     id="accordionDaySummaries">
				{% for analysis in day_summaries %}
					<div class="accordion-item rounded bg-light mb-1">
						<div class="accordion-header border rounded border-secondary border-opacity-25">
							<button class="toggle-summary border-0 rounded bg-light d-flex align-items-center fw-bold w-100 p-2 text-success"
							        type="button"
							        data-task-id="day{{ analysis.id }}">Summary for
								day {{ analysis.created_at }}
							</button>
						</div>
						<div id="day{{ analysis.id }}" class="accordion-collapse collapse"
						     data-bs-parent="#accordionDaySummaries">
							<div class="accordion-body summary-body justify-content-center text-success">
								<div class="row">
									<div class="col-11">
										<div class="py-2 fw-bolder h4 text-success">Summary for
											day {{ analysis.created_at }}</div>
									</div>
									<div class="col-1">
										<button type="button"
										        class="btn border-0 bg-transparent p-1 close-task-btn"
										        title="Close">
											<img src="{% static 'deps/icons/x-lg.svg' %}"
											     alt="Close" width="20" height="20">
										</button>
									</div>
								</div>

							</div>
						</div>

					</div>
					<div class="raw class">
						{{ analysis.summary }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div id="week-analysis-container">
		<h4 class="accordion-toggle d-flex justify-content-between align-items-center bg-light text-success p-3 rounded shadow-sm  border border-secondary border-opacity-25"
		    data-target="#week_analysis" role="button">
			Week Analysis
			<img src="{% static 'deps/icons/chevron-down.svg' %}" class="toggle-icon">
		</h4>

		<div id="week_analysis" class="accordion-section">
			<div class="accordion analysis-summary"
			     id="accordionWeekSummaries">
				{% for analysis in week_summaries %}
					<div class="accordion-item rounded mb-1">
						{% subtract_seven_days analysis.created_at as start_week %}
						<div class="accordion-header border rounded border-secondary border-opacity-25">
							<button class="toggle-summary rounded border-0 d-flex align-items-center fw-bold w-100 p-2 text-success"
							        type="button"
							        data-task-id="week{{ analysis.id }}"> Summary for
								week {{ start_week }}- {{ analysis.created_at }}
							</button>
						</div>
						<div id="week{{ analysis.id }}" class="accordion-collapse collapse"
						     data-bs-parent="#accordionWeekSummaries">
							<div class="accordion-body summary-body justify-content-center text-success">
								<div class="row">
									<div class="col-11">
										<div class="py-2 fw-bolder h4 text-success">Summary for week {{ start_week }}
											- {{ analysis.created_at }}
										</div>
									</div>
									<div class="col-1">
										<button type="button"
										        class="btn border-0 bg-transparent p-1 close-task-btn"
										        title="Close">
											<img src="{% static 'deps/icons/x-lg.svg' %}"
											     alt="Close" width="20" height="20">
										</button>
									</div>
								</div>

							</div>
						</div>

					</div>
					<div class="raw class">
						{{ analysis.summary }}
					</div>
				{% endfor %}
			</div>
		</div>

	</div>


{% endblock %}
{% block additional_content %}
	<div id="summaryDetails" class="bg-light rounded shadow-sm p-4 d-none me-lg-5">
	</div>
{% endblock %}
{% block js %}
	<script src="{% static "deps/js/analysis.js" %}"></script>
	<script src="{% static "deps/js/jquery/analysis_jquery.js" %}"></script>
{% endblock %}