{% load common_tags %}

{% if form.errors %}
	<div id="all-errors" class="alert alert-danger alert-dismissible fade show" role="alert">
		<ul class="mb-0">
			{% for field, errs in form.errors.items %}
				{% for err in errs %}
					<li>
						{% with form.fields|get_item:field as response %}
							<strong>{{ response.label }}:</strong>
						{% endwith %}
						{{ err }}
					</li>
				{% endfor %}
			{% endfor %}
		</ul>
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>
{% endif %}