{% if user.is_authenticated and request.path != '/' %}
	<div class="col-6 col-md-3 col-lg-2 d-flex flex-column {{ alignment }} gap-4 mb-4
	               {{ order }}">
		{% for link in links %}
			{% if request.path != link.url %}
				<a class="nav-link fw-bold bg-white rounded-circle border border-success
			d-flex align-items-center justify-content-center shadow"
				   href="{{ link.url }}">
					{{ link.name }}
				</a>
			{% else %}
		<form action="{% url 'users:logout' %}" method="post">
			{% csrf_token %}
			<button class="nav-link fw-bold bg-white rounded-circle border border-success
	d-flex align-items-center justify-content-center shadow">
				Logout
			</button>
		</form>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}