body{
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.nav-link.rounded-circle{
  width:150px;
  height:150px;
}

.img-green{
  filter: invert(48%) sepia(78%) saturate(534%) hue-rotate(84deg) brightness(92%) contrast(85%);
}

.img-green-dim{
  filter: invert(48%) sepia(78%) saturate(100%) hue-rotate(84deg) brightness(92%) contrast(85%);
}