body{
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.nav-link.rounded-circle{
  width:150px;
  height:150px;
}