.calendar-day {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 0.2rem;
  text-align: center;
  box-sizing: border-box;
}

  .calendar-start {
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;

  }

  .calendar-deadline {
    background-color: #f8d7da;
    color: #721c24;
    font-weight: bold;

  }
    .task-list {
    border-left: 4px solid #28a745;
    background: #f8f9fa;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }


  .bg-lightgray {
    background-color: #f1f3f5;
  }