{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="col-lg-10 mx-auto">
		<div class="fs-3 fw-bold text-center text-success mb-2 shadow-sm p-3 bg-light rounded shadow">
			Authorization
		</div>
		<div class="container bg-light p-5 rounded shadow ">
			<form action="{% url 'users:login' %}" method="post" class="row justify-content-center gx-5 gy-4 py-4">
				{% csrf_token %}
				<div class="col-12 col-md-10 mx-auto">
					<label for="id_username" class="form-label">Username</label>
					<div class="input-group">
						<span class="input-group-text" id="inputGroupPrepend2">@</span>
						<input
								value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
								type="text"
								class="form-control"
								id="id_username"
								 name="username"
								aria-describedby="inputGroupPrepend2"
								required>
					</div>
				</div>


				<div class="col-12 col-md-10 mx-auto">
					<label for="id_password1" class="form-label">Password</label>
					<input
							type="password"
							id="id_password1"
							name="password"
							class="form-control"
							required>

				</div>
				<div class="col-12 text-center">
					<button class="btn btn-success px-4 fw-bold" type="submit">
						Sign in
					</button>
				</div>
				<div class="col-12 text-center">
					<a class="text-success" href="#">Forgot
						password</a> | <a class="text-success"
					                      href="{% url 'users:signup' %}">Sign up</a>
				</div>


			</form>

		</div>

	</div>
{% endblock %}