{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link href="{% static 'deps/css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'deps/css/main.css' %}" rel="stylesheet">
	{% block css %}

	{% endblock %}
	<link rel="icon" type="image/png" href="{% static 'deps/favicons/favicon-96x96.png' %}" sizes="96x96"/>
	<link rel="icon" type="image/svg+xml" href="{% static 'deps/favicons/favicon.svg' %}"/>
	<link rel="shortcut icon" href="{% static 'deps/favicons/favicon.ico' %}"/>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'deps/favicons/apple-touch-icon.png' %}"/>
	<link rel="manifest" href="{% static 'deps/favicons/site.webmanifest' %}"/>

</head>
<body>
<header>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand text-success d-flex align-items-center" href="{% url 'main:index' %}">
				<img src="{% static 'deps/icons/logo.png' %}" alt="Logo" width="30" height="24"
				     class="d-inline-block">
				ScheduleManager
			</a>

			<button class="navbar-toggler" type="button"
			        data-bs-toggle="collapse" data-bs-target="#navbarContent"
			        aria-controls="navbarContent" aria-expanded="false"
			        aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				</ul>

				<ul class="navbar-nav mb-2 mb-lg-0 gap-4">
					<li class="nav-item">
						<a class="nav-link text-success d-flex align-items-center gap-2"
						   href="{% url 'users:projects' %}">
							<img src="{% static 'deps/icons/calendar-range.svg' %}"
							     alt="Projects" width="20" height="20" class="img-green-dim">
							Projects
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-success d-flex align-items-center gap-2"
						   href="{% url 'analysis:summary' %}">
							<img src="{% static 'deps/icons/list-columns-reverse.svg' %}"
							     alt="Analysis" width="20" height="20" class="img-green-dim">
							Analysis
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-success d-flex align-items-center gap-2" href="{% url 'main:about' %}">
							<img src="{% static 'deps/icons/file-text.svg' %}"
							     alt="About" width="20" height="20" class="img-green-dim">
							About
						</a>
					</li>
					{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link text-success d-flex align-items-center gap-2"
							   href="{% url 'users:profile' %}">
								<img src="{% static 'deps/icons/person-circle.svg' %}"
								     alt="Profile" width="20" height="20" class="img-green-dim">
								Profile
							</a>
						</li>
						<li class="nav-item">
							<form action="{% url 'users:logout' %}" method="post">
								{% csrf_token %}
								<button class="nav-link text-success d-flex align-items-center gap-2"
								>
									<img src="{% static 'deps/icons/arrow-left-square.svg' %}"
									     alt="Logout" width="20" height="20" class="img-green-dim">
									Logout
								</button>
							</form>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link text-success d-flex align-items-center gap-2"
							   href="{% url 'users:login' %}">
								<img src="{% static 'deps/icons/arrow-right-square.svg' %}"
								     alt="Login" width="20" height="20" class="img-green-dim">
								Login
							</a>
						</li>
					{% endif %}

				</ul>
			</div>

		</div>
	</nav>

</header>
<section>

	<div class="container-fluid">
		{% include 'includes/notifications.html' %}
		<div id="message-container"></div>
		<div class="row mt-5 justify-content-center align-items-start">
			<div id="mainContent" class="col-12 col-lg-8 col-xxl-6 mx-auto mb-5">
				{% block content %}{% endblock %}
			</div>
			{% block additional_content %}{% endblock %}

		</div>


	</div>
</section>

{% block footer %}

{% endblock %}

<script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>

<script src="{% static "deps/js/jquery/notifications.js" %}"></script>
<script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
{% block js %}

{% endblock %}
</body>
</html>