{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link href="{% static 'deps/css/footer.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="bg-light border shadow-sm rounded p-5">
		{{ content.content|safe }}
	</div>
{% endblock %}

{% block footer %}
	<footer class="mt-5 bg-success bg-gradient text-white py-4">
		<div class="container text-center">
			<p class="mb-0">ScheduleManager © 2025</p>
			<p class="mb-0">Created by <span class="fw-bold text-light">An1cer</span></p>
			<small>All rights reserved.</small>
		</div>
	</footer>
{% endblock %}