{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load date_tasks_tags %}
{% load common_tags %}

{% block css %}
	<link rel="stylesheet" href="{% static 'deps/css/schedule.css' %}">
{% endblock %}

{% block content %}
	<div class="fs-3 fw-bold text-center text-success bg-light mb-3 shadow-sm p-3 rounded shadow">
		{% trans "Your schedule" %}
	</div>
	<div class="my-2">
		<div class="card shadow-sm rounded-3">

			<div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
				<a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}"
				   class="btn btn-sm btn-light">&lt;</a>
				<h5 class="mb-0">{{ month_datetime|date:"F" }}</h5>
				<a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}"
				   class="btn btn-sm btn-light">&gt;</a>
			</div>

			<div class="card-body p-5">
				<div class="row text-center fw-bold text-secondary mb-2">
					<div class="col">{% translate 'Mon' %}</div>
					<div class="col">{% translate 'Tue' %}</div>
					<div class="col">{% translate 'Wed' %}</div>
					<div class="col">{% translate 'Thu' %}</div>
					<div class="col">{% translate 'Fri' %}</div>
					<div class="col text-danger">{% translate 'Sat' %}</div>
					<div class="col text-danger">{% translate 'Sun' %}</div>
				</div>
				{% for page in page_obj %}
					{% get_dates_of_month month_datetime as dates_of_month %}
					{% get_tasks_by_date dates_of_month.start_of_month dates_of_month.end_of_month as month_tasks %}
					{% for week in page %}
						<div class="row text-center mb-2">
							{% for day in week %}
								{% if day.month == month_datetime.month %}
									{% if month_tasks|get_item:day %}
										<div class="col calendar-day{% if month_tasks|get_item:day|get_day_type %} calendar-deadline{% else %} calendar-start{% endif %}">
											<button class="border-0 bg-transparent toggle-tasks-list">{{ day.day }}</button>
										</div>
										<div class="tasks-list container mt-4" style="display: none">
											<div class="row align-items-center mb-3">
												<div class="col-11">
													<h4 class="text-success">{% trans 'Tasks on' %} {{ day }}</h4>
												</div>
												<div class="col-1">
													<button type="button"
													        class="btn border-0 bg-transparent p-1 close-task-btn"
													        title="Close">
														<img src="{% static 'deps/icons/x-lg.svg' %}" alt="Close"
														     width="25"
														     height="25">
													</button>
												</div>
											</div>

											{% for task in month_tasks|get_item:day|get_values %}
												<a href="{% url 'users:tasks' task.project.id %}#task-{{ task.id }}"
												   class="text-decoration-none">
													<div class="task-list">
														<div class="fw-semibold text-black fs-5">{% trans 'Task' %}: {{ task.name }}</div>
														<div class="fw-medium text-muted">{% trans 'Start' %}:
															{{ task.start_datetime }}{% if task.due_datetime %} -
																{% trans 'Due' %}:
																{{ task.due_datetime }}{% endif %}</div>
														<div class="fw-lighter text-muted">
															{% trans 'Project' %}: {{ task.project.name }}</div>

													</div>
												</a>
											{% endfor %}
										</div>
									{% else %}
										<div class="col calendar-day">
											{{ day.day }}
										</div>
									{% endif %}
								{% else %}
									<div class="col calendar-day">

										</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>

	</div>
{% endblock %}

{% block additional_content %}
	<div id="tasksList" class="bg-white shadow-sm rounded p-3 d-none me-lg-5">
	</div>
{% endblock %}

{% block js %}
	<script src="{% static "deps/js/jquery/schedule.js" %}"></script>
{% endblock %}