{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'deps/css/schedule.css' %}">
{% endblock %}
{% block content %}


		<div class="fs-3 fw-bold text-center text-success mb-3 shadow-sm p-3 bg-light rounded">
			Your Tasks
		</div>
		<div id="pending-tasks-container">
			<h4 class="accordion-toggle d-flex justify-content-between align-items-center bg-light text-success p-3 rounded shadow-sm"
			    data-target="#pending-content" role="button">
				In progress
				<img src="{% static 'deps/icons/chevron-down.svg' %}" class="toggle-icon">
			</h4>
			<div id="pending-content" class="accordion-section">
				<div class="accordion" id="accordionInProgress">
					{% for task in tasks.get_pending %}
						{% include 'schedule/includes/task_card.html' with task=task type='InProgress' %}
					{% endfor %}
				</div>
				<div id="no-tasks-placeholder"
				     class="container bg-light p-3 rounded shadow text-secondary fs-5 justify-content-center align-items-center text-center" style="display: none">
					<p class="m-0">Add some tasks here to see them in list</p>
				</div>

			</div>
		</div>
		<br>
		<div id="done-tasks-container">
			<h4 class="accordion-toggle d-flex justify-content-between align-items-center bg-light text-success p-3 rounded shadow-sm"
			    data-target="#done-content" role="button">
				Done
				<img src="{% static 'deps/icons/chevron-down.svg' %}" class="toggle-icon">
			</h4>

			<div id="done-content" class="accordion-section">
				<div class="accordion" id="accordionDone">
					{% for task in tasks.get_done %}
						{% include 'schedule/includes/task_card.html' with task=task type='Done' %}
					{% endfor %}
				</div>
				<div id="no-completed-tasks-placeholder"
				     class="container bg-light p-3 rounded shadow text-secondary fs-5 justify-content-center align-items-center text-center" style="display: none">
					<p class="m-0">There is no completed task</p>
				</div>
			</div>
		</div>



{% endblock %}

{% block additional_content %}
	<div id="taskDetails" class="bg-light rounded shadow-sm p-4 d-none me-lg-5" >
	</div>
{% endblock %}

{% block js %}
	<script src="{% static 'deps/js/jquery/schedule.js' %}"></script>
{% endblock %}